services:
  backend:
    image: node:lts-slim

    container_name: ft_transcendence_backend

    platform: linux/amd64

    ports:
      - "3011:3011"

    # The default directory inside the container
    working_dir: /app

    volumes:
      # This is the standard, elegant way to create a bind mount
      # It maps './backend' on host to '/app' in the container
      - ./backend:/app

      # This is the professional trick to solve the efficiency problem
      # We tell Docker to create a separate, managed volume just for the node_modules directory
      # This prevents the `npm install` from running every time and avoids OS-specific file conflicts
      - /app/node_modules

    env_file:
      - ./backend/.env.docker

    command: >
      bash -c "
        apt-get update -y &&
        apt-get install -y openssl &&
        apt-get install -y python3 make g++ &&
        npm ci --include=dev &&
        npm run clean:all &&
        npx prisma generate &&
        npm run dev
      "

  frontend:
    image: node:lts-slim
    container_name: ft_transcendence_frontend
    platform: linux/amd64
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - ./game:/app/public/game
      - /app/node_modules
    environment:
      VITE_API_BASE_URL: "http://localhost:3011"
    depends_on:
      - backend
    command: >
      bash -c "
        npm ci &&
        npm run dev -- --host 0.0.0.0
        "
